@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1470561048_9265285.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1470561048_9265285.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1470561048_9265285.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1470561048_9265285.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1470561048_9265285.svg#iconfont') format('svg'); /* iOS 4.1- */
}



.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-like2shape:before { content: "\e7ea"; }
.icon-comment:before { content: "\e667"; }
.icon-like2line:before { content: "\e785"; }
