.slide {
    max-height: 488px;
}

#slide-prev {
    float: left;
    position: absolute;
    left: -70px;
    top: 200px;
}

#slide-next {
    float: left;
    position: absolute;
    right: -70px;
    top: 200px;
}

#content {
    height: 488px;
    width: 1024px;
    overflow: hidden;
    position: relative;
}

#content .list {
    height: 100%;
    position: absolute;
    margin-left: 0px;
    margin-bottom: 0px;
    background: #203e4f;
}

#content .list div {
    float: left;
    width: 1024px;
    height: 488px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
}

.detail {
    padding-left: 32px;
    width: 992px;
}

.myfont {
    color: #73848c;
    font-size: 14px;
}

.desc {
    margin-top: 30px;
}

.desc p {
    margin-top: -4px;
    line-height: 18px;
    /*letter-spacing: 0px;*/
}

.myborder {
    border-top: solid 1px #223d4e;
    margin-top: 20px;
    margin-left: -32px;
}
.zan{
    padding-top: 20px;
}
.zan .font{
    color: white;
}

.comment p{
    margin-top: 38px;
}
.say .row{
    height: 60px;
}
.comment .say .ipt{
    width: 840px;
    border: 2px solid #00ffcc;
    text-align: center;
    padding: -1px -1px -1px -1px;
}
.comment .say input{
    outline:none;
    width: 90%;
    border: none;
    background-color: transparent;
    height: 60px;
    vertical-align: middle;
    font-size: 14px;
    color: white;


}
.comment .fabiao{
    height: 60px;
    width: 100px;
    background-color: #00ffcc;
    position: relative;
    margin-left: 10px;
    text-align: center;
    /*float: left;*/
}
.comment .fabiao span{
    position: absolute;
    margin-top: 20px;
    margin-left: -18px;
    color: black;
    font-size: 18px;
    font-weight:bold;
}

.table .row div:first-child{
    /*padding-right: 10px;*/
    margin-right: 16px;
}
.table{
    margin-top: 24px;
}
.table .row{
    margin-top: 10px;
}
.table-border{
    margin-top: 10px;
}
.table .head{
    border: solid 1px #00ffcc;
    width: 36px;
    height: 30px;
    overflow: hidden;
    padding-top: 6px;

}
.ifont{
    color: #00ffcc;
    margin-left: 7px;
}
.table p{
    height: 36px;
    font-size: 14px;
    display:table-cell;
    vertical-align: middle;
    color: white;
    line-height:1.2em;
    overflow:hidden;
}

.comment .say input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #00ffcc;
    font-size: 14px;
}

.comment .say input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #00ffcc;
    font-size: 14px;
}

.comment .say input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #00ffcc;
    font-size: 14px;
}

.comment .say input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #00ffcc;
    font-size: 14px;
}